.icon.icon-view {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/icon-systemView.png) no-repeat;
  background-size: 20px 20px;
}

.icon.icon-View {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/metadata.png) no-repeat;
  background-size: 20px 20px;
}

.icon.icon-more{
  position: relative;
  left: 1px;
  top: -1px;
}

.icon.icon-metadata {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/metadata.png) no-repeat;
  background-size: 20px 20px;
}
// 数据库
.icon.icon-Database {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/icon-dataBase.png) no-repeat;
  background-size: 20px 20px;
}
// Parent_MasterData 主数据
.icon.icon-Parent_MasterData {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/Parent_MasterData.png) no-repeat;
  background-size: 20px 20px;
}
//Context 上下文
.icon.icon-Context {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/Context.png) no-repeat;
  background-size: 20px 20px;
}

.icon.icon-SystemLevel {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/icon-systemLevel.png) no-repeat;
  background-size: 20px 20px;
}

.icon.icon-Schema {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/icon-schema.png) no-repeat;
  background-size: 20px 20px;
}

.icon.icon-folder {
  position: relative;
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  background: url(./../assets/images/commonIcon/icon-file.png) no-repeat;
  background-size: 100% 100%;
}
.icon.icon-folder {
  position: relative;
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  background: url(./../assets/images/commonIcon/icon-file.png) no-repeat;
  background-size: 100% 100%;
}

.icon.icon-Catalog {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/icon-catalog.png) no-repeat;
  background-size: 20px 20px;
}
// 触发器 
.icon.icon-Trigger {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/icon-Trigger.png) no-repeat;
  background-size: 20px 20px;
  }
.icon.icon-Entity {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/entity2.png) no-repeat;
  background-size: 20px 20px;
}
// .icon.icon-Entity {
//   width: 20px;
//   height: 20px;
//   background: url(./../assets/images/commonIcon/entity1.png) no-repeat;
//   background-size: 20px 20px;
// }
.icon.icon-Transformer {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/icon-transformer3.png) no-repeat;
  background-size: 20px 20px;
}
.icon.icon-Transformation {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/icon-transformer.png) no-repeat;
  background-size: 20px 20px;
}

.icon.icon-Table {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/icon-table.png) no-repeat;
  background-size: 20px 20px;
}

.icon.icon-Column {
  width: 20px;
  height: 20px;
  background: url("./../assets/images/commonIcon/icon-column.png") no-repeat;
  background-size: 20px 20px;
}

.icon.icon-SystemLevel {
  width: 20px;
  height: 20px;
  background: url("./../assets/images/commonIcon/icon-systemLevel.png") no-repeat;
  background-size: 20px 20px;
}

.icon.icon-System {
  width: 20px;
  height: 20px;
  background: url("./../assets/images/commonIcon/icon-system.png") no-repeat;
  background-size: 20px 20px;
}

.icon.icon-PrimaryKey {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/icon-primaryKey.png) no-repeat;
  background-size: 20px 20px;
}

// .icon.icon-Procedure {
//   width: 20px;
//   height: 20px;
//   background: url(./../assets/images/commonIcon/icon-procedure.png) no-repeat;
//   background-size: 20px 20px;
// }
.icon.icon-Procedure {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/procedure.png) no-repeat;
  background-size: 20px 20px;
}

.icon.icon-SQLIndex {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/icon-SQLIndex.png) no-repeat;
  background-size: 20px 20px;
}

.icon.icon-ProcedureColumn {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/icon-procedureColumn.png) no-repeat;
  background-size: 20px 20px;
}

.icon.icon-TableMapping {
  width: 20px;
  height: 20px;
  background: url("./../assets/images/commonIcon/icon-tableMapping.png") no-repeat;
  background-size: 16px 16px;
}

.icon.icon-ColumnMapping {
  width: 20px;
  height: 20px;
  background: url("./../assets/images/commonIcon/icon-columnMapping.png") no-repeat;
  background-size: 20px 20px;
}

.icon.icon-dataMapView {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/icon-dataMapView.png) no-repeat;
  background-size: 20px 20px;
}

.icon.icon-metaModel {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/icon-metaModel.png) no-repeat;
  background-size: 20px 20px;
}

.icon.icon-Root {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/icon-root.png) no-repeat;
  background-size: 20px 20px;
}

.icon.icon-idcard{
  position: relative;
  // top: -1px;
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  background: url(./../assets/images/commonIcon/icon-idcard.png) no-repeat;
  background-size: 100% 100%;
}
.icon.icon-Parent_Dimentsion {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/Parent_Dimentsion.png) no-repeat;
  background-size: 20px 20px;
}
.icon.icon-Parent_Rule {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/Parent_Dimentsion.png) no-repeat;
  background-size: 20px 20px;
}
.icon.icon-Parent_MasterData {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/Parent_Dimentsion.png) no-repeat;
  background-size: 20px 20px;
}
.icon.icon-Parent_BizTerm {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/Parent_Dimentsion.png) no-repeat;
  background-size: 20px 20px;
}
.icon.icon-Parent_PublicCode {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/Parent_Dimentsion.png) no-repeat;
  background-size: 20px 20px;
}

/* Context 上下文 */
.icon.icon-Context {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/icon-file.png) no-repeat;
  background-size: 20px 20px;
}

/* 指标管理 */
/*基础指标*/
.icon.icon-Parent_BaseIndex {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/Parent_Dimentsion.png) no-repeat;
  background-size: 20px 20px;
}
/*计算指标*/
.icon.icon-Parent_CalculateIndex {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/Parent_Dimentsion.png) no-repeat;
  background-size: 20px 20px;
}

/*衍生指标*/
.icon.icon-Parent_DeriveIndex {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/Parent_Dimentsion.png) no-repeat;
  background-size: 20px 20px;
}

/*规则指标*/
.icon.icon-Parent_RuleIndex {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/Parent_Dimentsion.png) no-repeat;
  background-size: 20px 20px;
}

/*机构部门 - 上级部门 -tree图标*/
.icon.icon-department {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/department.png) no-repeat;
  background-size: 20px 20px;
}
//Parent_BizTerm 归类
.icon.icon-Parent_BizTerm {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/Parent_Dimentsion.png) no-repeat;
  background-size: 20px 20px;
}
// 函数节点
.icon.icon-Function {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/Function.png) no-repeat;
  background-size: 20px 20px;
  }
// 转换系统
.icon.icon-TFMSystem {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/icon-TFMSystem.png) no-repeat;
  background-size: 20px 20px;
  }
  // 转换映射
.icon.icon-TransformationMap {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/icon-TransformationMap.png) no-repeat;
  background-size: 20px 20px;
  }
  //  转换活动
.icon.icon-TFMActivity {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/icon-TFMActivity.png) no-repeat;
  background-size: 20px 20px;
  }
     // 转换任务
.icon.icon-TFMTask {
  width: 20px;
  height: 20px;
  background: url(./../assets/images/commonIcon/icon-TFMTask.png) no-repeat;
  background-size: 20px 20px;
  }